body {
  font: 12px helvetica;
  display: flex;
  margin: 60px;
}

input {
  width: 400px;
}

.nav {
  flex: 1 1 auto;
  max-width: 200px;
}

.content {
  flex: 1 1 auto;
  margin-left: 50px;
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
}
