<!DOCTYPE html>
<html>
<head>
	<link href="{{ url_for('static', filename='stylesheets/index.css') }}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<script>
		var tasks = JSON.parse({{tasks|tojson|safe}})
		var users = JSON.parse({{users|tojson|safe}})
		var groups = JSON.parse({{groups|tojson|safe}})
	</script>

	<div class="nav">
		<a href="/"><div class="nav__item">
			<span class="icon-home"></span>
		</div></a>

		<a href="/help-me/"><div class="nav__item">
			<span class="icon-info"></span>
			<p> Need to post a task? <br>Click on this link to get started! </p>
		</div></a>

		<a href="/tasks/"><div class="nav__item">
			<span class="icon-cogs"></span>
			<p> Take a look at what your villages have posted, and help someone out! </p>
		</div></a>

		<a href="/groups/"><div class="nav__item">
			<span class="icon-users"></span>
			<p> Check out which groups you may be interested in adding to your villages! </p>
		</div></a>
	</div>

	<div class="content">
		<h2> Groups </h2>
		<p> Look through the groups below and select which ones you want to include in your communities. </p>
		<ul id="js-group-list"></ul>
		<script type="text/javascript">
			// make list items for each group
			var groupList = document.getElementById("js-group-list");
			for (let i = groups.length - 1; i >= 0; i--) {
				// make an li
				// put it in .groups
				let groupListItem = document.createElement("li");
				groupListItem.appendChild(document.createTextNode(groups[i].name));
				groupList.appendChild(groupListItem);
			}
		</script>
	</div>
</body>
</html>
